<!DOCTYPE html>
<html>
<head>
 <!--     <title>{{title}}</title>
     <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
     <link rel='stylesheet' href='/stylesheets/bootstrap.css'/> -->
    <!--  <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' /> -->
     <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
   <div class="rightSide">
    {{#each products}}
    
            <div class="row">
                   {{#each this}} 
                        <div class="col-sm-6 col-md-4">
                          <div class="thumbnail">
                            <img src="{{this.imagePath}}" class="img-responsive" alt="...">
                            <div class="caption">
                                  <h4>{{this.title}}</h4>
                                  <p class="description" >{{this.description}}</p>
                                  <div class="clearfix">
                                      <div class="price pull-left"> $ {{this.price}}</div>  
                                      <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to Cart</a>
                                        
                                  </div>  
                            </div>
                          </div>
                     
                     </div>
                   {{/each}} 
          </div>
    {{/each}}   
    </div>
</body>
</html>
